* text=auto !eol
Docs/DataDefinitions.xls -text
Docs/objectdescriptions.txt -text
PHP/About.php -text
PHP/FAQ.php -text
PHP/Page1.php -text
PHP/Page10.php -text
PHP/Page11.php -text
PHP/Page12.php -text
PHP/Page13.php -text
PHP/Page14.php -text
PHP/Page15.php -text
PHP/Page16.php -text
PHP/Page17.php -text
PHP/Page18.php -text
PHP/Page19.php -text
PHP/Page2.php -text
PHP/Page20.php -text
PHP/Page22.php -text
PHP/Page23.php -text
PHP/Page24.php -text
PHP/Page25.php -text
PHP/Page26.php -text
PHP/Page27.php -text
PHP/Page28.php -text
PHP/Page29.php -text
PHP/Page3.php -text
PHP/Page30.php -text
PHP/Page31.php -text
PHP/Page32.php -text
PHP/Page33.php -text
PHP/Page34.php -text
PHP/Page35.php -text
PHP/Page37.php -text
PHP/Page5.php -text
PHP/Page6.php -text
PHP/Page7.php -text
PHP/Page8.php -text
PHP/Page9.php -text
PHP/SelectState.php -text
PHP/app/app_functions.php -text
PHP/app/app_setup.php -text
PHP/app/application.php -text
PHP/img/CDHP_small.jpg -text
PHP/img/CDHP_working_for.jpg -text
PHP/objdef/AppState.php -text
PHP/objdef/Chart.php -text
PHP/objdef/ChartLookAndFeel.php -text
PHP/objdef/DisplayContainer.php -text
PHP/objdef/MenuLookAndFeel.php -text
PHP/objdef/RecordSet.php -text
PHP/objdef/SideMenu.php -text
PHP/page4.php -text
PHP/style.css -text
SQL/CREATE.Table.ETL.StateAbbrev.sql -text
SQL/CREATE.Table.glsColumnLabels.sql -text
SQL/CREATE.Table.glsMenuItems.sql -text
SQL/CREATE.Table.glsMenuSections.sql -text
SQL/CREATE.Table.glsTableLabels.sql -text
SQL/CREATE.Table.tblCharts.sql -text
SQL/CREATE.Tables.ETL.ProcStatTrans.sql -text
SQL/CREATE/CREATE.VIEW.I.A.demographicsChartA.sql -text
SQL/CREATE/CREATE.VIEW.I.B.demographicsChartB.sql -text
SQL/CREATE/CREATE.VIEW.I.C.demographicsChartC.sql -text
SQL/CREATE/CREATE.VIEW.I.D.demographicsChartD.sql -text
SQL/CREATE/CREATE.VIEW.II.A.workforceChartA.sql -text
SQL/CREATE/CREATE.VIEW.II.B.workforceChartB.sql -text
SQL/CREATE/CREATE.VIEW.II.C.workforceChartC1.sql -text
SQL/CREATE/CREATE.VIEW.II.C.workforceChartC2.sql -text
SQL/CREATE/CREATE.VIEW.II.C.workforceChartC3.sql -text
SQL/CREATE/CREATE.VIEW.II.C.workforceChartC4.sql -text
SQL/CREATE/CREATE.VIEW.II.C.workforceChartC6.sql -text
SQL/CREATE/CREATE.VIEW.II.D.workforceChartD1.sql -text
SQL/CREATE/CREATE.VIEW.II.D.workforceChartD2.sql -text
SQL/CREATE/CREATE.VIEW.II.D.workforceChartD4.sql -text
SQL/CREATE/CREATE.VIEW.II.E.workforceChartE1.sql -text
SQL/CREATE/CREATE.VIEW.II.E.workforceChartE3.sql -text
SQL/CREATE/CREATE.VIEW.II.F.workforceChartF1.sql -text
SQL/CREATE/CREATE.VIEW.III.permitfuncChart1.sql -text
SQL/CREATE/CREATE.VIEW.III.permitfuncChart2.sql -text
SQL/CREATE/CREATE.VIEW.IV.A.insuranceChartA.sql -text
SQL/CREATE/CREATE.VIEW.IV.B.insuranceChartB1.sql -text
SQL/CREATE/CREATE.VIEW.IV.B.insuranceChartB2.sql -text
SQL/CREATE/CREATE.VIEW.IV.C.insuranceChartC1.sql -text
SQL/CREATE/CREATE.VIEW.IV.C.insuranceChartC2.sql -text
SQL/CREATE/CREATE.VIEW.IX.A.SafetynetpubhealthChartA.sql -text
SQL/CREATE/CREATE.VIEW.IX.B.SafetynetpubhealthChartB.sql -text
SQL/CREATE/CREATE.VIEW.IX.C.SafetynetpubhealthChartC.sql -text
SQL/CREATE/CREATE.VIEW.IX.D.SafetynetpubhealthChartD.sql -text
SQL/CREATE/CREATE.VIEW.Menu.sql -text
SQL/CREATE/CREATE.VIEW.V.A.medischipChartA.sql -text
SQL/CREATE/CREATE.VIEW.V.B.medischipChartB.sql -text
SQL/CREATE/CREATE.VIEW.V.C.medischipChartC.sql -text
SQL/CREATE/CREATE.VIEW.V.D.medischipChartD.sql -text
SQL/CREATE/CREATE.VIEW.V.E.medischipChartE.sql -text
SQL/CREATE/CREATE.VIEW.V.F.medischipChartF.sql -text
SQL/CREATE/CREATE.VIEW.V.G.medischipChartG.sql -text
SQL/CREATE/CREATE.VIEW.VI.A.expendituresChartA.sql -text
SQL/CREATE/CREATE.VIEW.VI.B.expendituresChartB.sql -text
SQL/CREATE/CREATE.VIEW.VI.C.expendituresChartC.sql -text
SQL/CREATE/CREATE.VIEW.VIII.A.UtilizationChartA.sql -text
SQL/CREATE/CREATE.VIEW.VIII.B.UtilizationChartB.sql -text
SQL/INSERT/INSERT.I.A.demographicsChartA.sql -text
SQL/INSERT/INSERT.I.B.demographicsChartB.sql -text
SQL/INSERT/INSERT.I.C.demographicsChartC.sql -text
SQL/INSERT/INSERT.I.D.demographicsChartD.sql -text
SQL/INSERT/INSERT.II.A.workforceChartA.sql -text
SQL/INSERT/INSERT.II.B.workforceChartB.sql -text
SQL/INSERT/INSERT.II.C.workforceChartC.sql -text
SQL/INSERT/INSERT.II.D.workforceChartD.sql -text
SQL/INSERT/INSERT.II.E.workforceChartE.sql -text
SQL/INSERT/INSERT.II.F.workforceChartF.sql -text
SQL/INSERT/INSERT.III.permitfuncCharts.sql -text
SQL/INSERT/INSERT.IV.A.insuranceChartA.sql -text
SQL/INSERT/INSERT.IV.B.insuranceChartB.sql -text
SQL/INSERT/INSERT.IV.C.insuranceChartC.sql -text
SQL/INSERT/INSERT.IX.A.SafetynetpubhealthChartA.sql -text
SQL/INSERT/INSERT.IX.B.SafetynetpubhealthChartB.sql -text
SQL/INSERT/INSERT.IX.C.SafetynetpubhealthChartC.sql -text
SQL/INSERT/INSERT.IX.D.SafetynetpubhealthChartD.sql -text
SQL/INSERT/INSERT.V.A.medischipChartA.sql -text
SQL/INSERT/INSERT.V.B.medischipChartB.sql -text
SQL/INSERT/INSERT.V.C.medischipChartC.sql -text
SQL/INSERT/INSERT.V.D.medischipChartD.sql -text
SQL/INSERT/INSERT.V.E.medischipChartE.sql -text
SQL/INSERT/INSERT.V.F.medischipChartF.sql -text
SQL/INSERT/INSERT.V.G.medischipChartG.sql -text
SQL/INSERT/INSERT.VI.A.expendituresChartA.sql -text
SQL/INSERT/INSERT.VI.B.expendituresChartB.sql -text
SQL/INSERT/INSERT.VI.C.expendituresChartC.sql -text
SQL/INSERT/INSERT.VIII.A.UtilizationChartA.sql -text
SQL/INSERT/INSERT.VIII.B.UtilizationChartB.sql -text
SQL/INSERT/INSERT.glsColumnLabels.Demographics.sql -text
SQL/INSERT/INSERT.glsColumnLabels.Workforce.sql -text
SQL/POPULATE.glsColumnLabels.sql -text
SQL/Scrap/CheckMenuJoin.sql -text
SQL/Scrap/ETL.transformProcStat.php -text
SQL/Scrap/JOIN.Charts.Menu.sql -text
SQL/Scrap/QUERY.menu_to_import.sql -text
SQL/Scrap/SQLQuery1.sql -text
SQL/Scrap/SQLQuery2.sql -text
SQL/Scrap/SectionOneCharts.cmd -text
SQL/Scrap/UPDATE.ImportTable.Safetynetpubhealth.sql -text
SQL/Scrap/UPDATE.ImportTable.au.sql -text
SQL/Scrap/UPDATE.ImportTable.inscovtotal.sql -text
SQL/Scrap/UPDATE.ImportTable.medischip.sql -text
SQL/Scrap/UPDATE.ImportTable.medischip3(expenditures).sql -text
SQL/Scrap/UPDATE.glsMenuItems.Demographics.sql -text
SQL/Scrap/UPDATE.glsMenuItems.Workforce.sql -text
SQL/Scrap/deprecated.CREATE.Table.jctMenuViews.sql -text
SQL/Scrap/deprecated.CREATE.View.C2DentEdu.sql -text
SQL/Scrap/deprecated.CREATE.View.Demographics1.sql -text
SQL/Scrap/update.ImportTable.demographics.sql -text
SQL/Scrap/update.ImportTable.insurance.sql -text
SQL/Scrap/update.ImportTable.permitfunc.sql -text
SQL/Scrap/update.ImportTable.workforce.sql -text
SQL/Scrap/update.ImportTable.workforceus.sql -text
SQL/Scrap/xINSERT.II.C.workforceChartC.sql -text
SQL/UPDATE.PageTitles.Demographics.sql -text
SQL/UPDATE.PageTitles.Workforce.sql -text
SQL/UPDATE.PageTitles.sql -text
SQL/UPDATE.glsColumnLabels.sources.PermitFunc.sql -text
SQL/UPDATE.glsColumnLabels.sources.SafetyNet.sql -text
SQL/UPDATE.glsColumnLabels.sources.demographics.sql -text
SQL/UPDATE.glsColumnLabels.sources.insCovStat.sql -text
SQL/UPDATE.glsColumnLabels.sources.insCovTot.sql -text
SQL/UPDATE.glsColumnLabels.sources.workforce.sql -text
SQL/UPDATE.tblChartsWithMenuKeys.sql -text
Util/adovbs.inc -text
Util/buildfiles.asp -text
